@{
    ViewBag.Title = "Проекты";
}

<br />

<div class="projects-page">

    <div class="page-header">
        <input type="text" value="" id="searchInput" />
        <button id="getBtn">Поиск</button>
        <button class="btn-add" id="addBtn">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M8 1V15M1 8H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
            Добавить проект
        </button>
    </div>

    <div class="table-container">
        <table class="projects-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>Автор</th>
                    <th>Курс</th>
                    <th>Ссылка</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <!-- Данные будут загружены через JS -->
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/js/projects/index.js"></script>
}

@section Styles {
    <link href="~/css/projects/index.css" rel="stylesheet" />
}